name: SFTP Deploy

on:
  push:
    branches:
      - main

jobs:
  sftp-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ecdsa
          chmod 600 ~/.ssh/id_ecdsa
          ssh-keyscan -H ${{ secrets.FTP_SERVER }} >> ~/.ssh/known_hosts

      - name: Deploy via SFTP
        run: |
          sftp -i ~/.ssh/id_ecdsa -o StrictHostKeyChecking=no ${{ secrets.FTP_USERNAME }}@${{ secrets.FTP_SERVER }} << 'EOF'
          cd /home/mypleasure/www/test
          put index.html
          EOF
